<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Radar.Colors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" /></startup><userSettings>
        <Radar.Colors>
            <setting name="GameObject" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Pet" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="PetDead" serializeAs="String">
                <value>LightCyan</value>
            </setting>
            <setting name="PlayerDead" serializeAs="String">
                <value>PaleVioletRed</value>
            </setting>
            <setting name="PlayerMe" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PlayerOpposing" serializeAs="String">
                <value>DarkViolet</value>
            </setting>
            <setting name="PlayerSame" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="Radar" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TargetDead" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="Unit" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="UnitDead" serializeAs="String">
                <value>LightBlue</value>
            </setting>
        </Radar.Colors>
    </userSettings>
</configuration>
